<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<style>
    td {
        cursor: pointer;
        border: black 1px solid; 
    }
    
</style>


</head>
<body>

    {{{body}}}
    <div class="nav">
{{! only show home link if on detail page }}
    {{#if events}}{{else}}<a href="/">Home</a> |{{/if}}
    <a href="/about">About</a></div>

</body>
</html>