<h1>Welcome!</h1>
<h2>This will be my time keeping/managment site!</h2>
<h3>What event are you looking for?</h3>
<form method="POST" action="/search">
    <input type="text" name="search_term" title="submit">
    <button>Search</button>
</form>