<!DOCTYPE html>
<html lang="en-US">
<head>
    
<style>
ul li {
    cursor:pointer;
    border:black 2px solid;
    background:lightblue;
    width:125px;
    list-style-type:none;
    text-align:center;
    margin-bottom:5px;
} 

li p{
    display:none;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script>
var listApp = angular.module('listApp',[]);
listApp.controller('ListController', ['$scope', function($scope) {
$scope.events = [
    {what:'finish homework', where:'home', time:'3pm', when:'5/8/2016'},
    {what:'study', where:'home', time:'5pm', when:'5/9/2016'},
    {what:'get groceries', where:'store', time:'7pm', when:'5/7/2016'} 
    ];
//display "other" information or display the rest of the object? how the f do I do that?
$scope.showDetail = function(event){
    $scope.detail = "Event: " + event.what + " Where: " + event.where + " When: " + event.time + " Date: " + event.when;
} ;   

}]);
</script>
</head>
<!--View template. Add necessary Angular directives -->
<body ng-app="listApp">
<div ng-controller="ListController">
    
<p>Search : <input type="text" ng-model="search"></p>
<p>{{search}}</p>

<b>Total: {{events.length}}</b>

    <ul>
        <li ng-repeat="event in events" ng-click="showDetail(event)">{{event.what}}</li>
    </ul>

<p>{{detail}}</p>

</div>
</body>
</html>