<h1>Welcome!</h1>
<h2>This will be my time keeping/managment site!</h2>
<h3>What event are you looking for?</h3>
<form method="POST" action="/search">
    <input type="text" placeholder="Name of Event" name="search_term" title="submit">
    <button>Search</button>
</form>
<h3>Would you like to add an event?</h3>
<form method="POST" action="/add">
    <input type="text" placeholder="Event" name="add_event" title="submit">
    <input type="text" placeholder="Time" name="add_time" title="submit">
    <button>Add Event</button>
</form>
<h3>Would you like to remove an event?</h3>
<form method="POST" action="/remove">
    <input type="text" placeholder="Remove Event" name="remove_event" title="submit">
    <button>Add Event</button>
</form>
<h3>Would you like to update an event?</h3>
<form method="POST" action="/change">
    <input type="text" placeholder="Event" name="current_event" title="submit">
    <input type="text" placeholder="New Time" name="changed_time" title="submit">
    <button>Add Event</button>
</form>