<form method="POST" action="/search">
    <input type="text" placeholder="Name of Event" name="event" title="submit">
    <input type="text" placeholder="Time of Event" name="time" title="submit">
    <button>Search</button>
    <button>Add</button>
    <button>Delete</button>
</form>

<script>
    $(document).ready(function(){
        var buttons = $("button");
        
        buttons.on("click", function(){
            var $this = $(this);
            $("form").attr("action", $this.text().toLowerCase());
        });
    });

</script>